*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%; /* 1 rem = 10px*/
}

body{
    font-size: 2rem;
    background: #EFFFFD;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-wrap: wrap;
    font-family: sans-serif;
}

.card{
    width: 40rem;
    height: 40rem;
    border-radius: 5rem;
    box-shadow: 0rem 1rem 2rem 0rem rgba(0,0,0,0.2);
    flex-shrink: 0;
}

.card--stopwatch{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.timerText{
    font-size: 200%;
}

.button{
    padding: 1rem 2rem;
    font-size: 2rem;
    border-radius: 0.5rem;
    color: white;
}

.button--start{
    background: blue;
    
}

.button--stop{
    background: purple;
   
}


.button--reset{
    background: pink;
    
}